{% load  static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href={% static "assets/bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href={% static "assets/fonts/font-awesome.min.css" %}>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">

    {% include "includes/nav.html" %}
    
    <header class="masthead" style="background-image:url({% static 'assets/img/header-bg.jpg'%});">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ app_title|safe }}</div>
                <div class="intro-heading text-uppercase">{{ app_title2|safe }}</div><a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">{{ app_title3|safe }}</a>
            </div>
        </div>
    </header>

    

    <main id="main">
        {% block content %}
        {% endblock  %}
    </main> <!-- End #main -->
    <div>
        {% include 'includes/messages.html' %}
    </div>

    {% include "includes/footer.html" %}

    <script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "assets/js/agency.js" %}></script>
</body>

</html>