{% extends 'index.html' %}

{% block content %}   

    <!-- ======= Services Section ======= -->
    {% include 'services.html' %}
        
    <!-- ======= Portfolio Section ======= -->
    {% include 'portfolio.html' %}

    <!-- ======= About Section ======= -->
    {% include 'about.html' %}

    <!-- ======= Team Section ======= -->
    {% include 'team.html' %}
        
    <!-- ======= Clients Section ======= -->
    {% include 'clients.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}


{% endblock  %}